@use "../../styles/partials/resets.scss";
@use "../../styles/partials/variables.scss";
@use "../../styles/partials/mixin.scss" as *;

.list {
  @include flex-center;
  flex-direction: column;
  justify-content: center;
  @include media-tablet {
    width: 60%;
    align-items: flex-start;
  }
  @include media-desktop {
    width: 100%;
  }

  &__header {
    width: 90%;
    padding: 1rem 0;
  }

  &__container {
    width: 100%;
  }
  &__wrapper {
    margin: 1rem;
    width: 90%;
  }

  &__image {
    margin-right: 1rem;
    width: 6rem;
    border-radius: 1rem;
    height: 4rem;
  }

  &__item {
    display: flex;
    height: 4rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  &__title {
    width: 100%;
    font-weight: bold;
    font-size: 0.9rem;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
