@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf");
  font-style: normal;
  font-weight: 700;
}
