@use "../../styles/partials/mixin" as *;

.main {
  @include media-desktop {
    display: flex;
  }
  &__text-container {
    @include media-desktop {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }
}
