$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primarycolor: #323232;
$primarycolor2: #0095ff;
$primarycolor3: #afafaf;
$primarycolor4: #ffffff;

$secondarycolor: #000000;
$secondarycolor2: #0065ad;
$secondarycolor3: #e1e1e1;
$secondarycolor4: #fafafa;
