@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/Variables.scss";

.main {
  @include flex-center;
  justify-content: center;
  flex-direction: column;

  @include media-desktop {
    flex-direction: row;
    width: 63.75rem;
    margin: 0 auto;
  }

  &__text-container,
  &__list-container {
    width: 90%;

    @include media-desktop {
      height: 100vh;
    }
  }

  &__text-container {
    @include media-desktop {
      margin-right: 1rem;
      border-right: 1px solid $secondarycolor3;
      width: 170%;
    }
  }
}
